html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.wrapper {
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.wrapper::after {
  clear: both;
  content: "";
  display: table;
}

